.main-bottom {
    padding-top: 17px;
    padding-bottom: 15px;
    text-align: center;
    background: #F8F8F8;
    border: 2px solid #F8F8F8;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.8;
}